<style type="text/css" rel="stylesheet">
body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.title_div{
	width:100%;
	height:1px;
	margin-bottom:1px;

}

.title_div li{
	list-style-type:none;

}

.title_div li.title0{
	margin: 0px 0px 10px 10px;
    height: 20px;
    font-size: 1.0em;
    color: red;
}
.title_div li.title1{
	margin:0px 0px 10px 10px;
	height:20px;
	font-size:2.8em;
	color:red;
}
.course_tip{
	margin-left:3%;
}
.course_tip img{
	width:13px;
	height:13px;
	color:red;
}
.title_div li.title{
	height:40px;
	margin:15px 0px 0px 0px;

}
.title_div li.title img{
	width:100%;
	height:40px;
	overflow:hidden;
}
.class_div{
	width:100%;
	margin:0px;
}
.class_title{
	width:100%;
	height:30px;
	list-style-type:none;
	margin-left:0px;
	margin-top:10px;

}
.class_title li{
	float:left;
	height:30px;
	width:50%;
	text-align:center;
}

.class_title li a{
	display:block;
	margin:0px;
	cursor:pointer;
	text-decoration:none;
}
.title1 a{
	height:30px;
	border-right:2px solid #DDDDDD;
}		
.change1{
	border-bottom:2px solid green;
	color:green;
}
.change2{
	border-bottom:2px solid #DDDDDD;
}
.change1 a{
	color:green;
}
.change2 a{
	color:rgb(60,60,60);
}
 
.title2 a{
	margin:10px 5px 10px 10px;
}
.clear{clear:both;}

#class_show{
	width:100%;
	height:auto;
	margin-top:3%;
}
#class_show li{
	list-style-type:none;
}
.show{
	width:100%;
	height:110px;
	clear:both;
	color:#AAAAAA;
	margin-top:5px;
}
.show li{
	float:left;
	width:71%;
}
.show .show_img{
	width:80px;
	height:100px;
	margin-left:10px;

}
.show img{
	width:80px;
	height:100px;
}

.show table{
	width:95%;
	height:100px;
	margin-left:5px;
	border-bottom:2px solid #DDDDDD;

}
.show table td{
	height:auto;
}
.table_title{
	vertical-align: bottom;
	color:rgb(60,60,60);
	font-weight:bolder;
}
.table_title span{
	color:red;
}
.table_title span.title_count{

}
.table_teach{
	vertical-align: top;
	color:#999999;
	font-size:0.8em;
}
.table_teach a{
	text-decoration:none;
	color:green;
}
.teach_font{
	font-size:0.8em;
}

#div1 .show .buy {
    border: 1px solid green;  
    font-weight: bold;
	height:30px;
}
.show .buy {
    display: block;
    width: 35px;
	height: 30px
    text-align: center;
    background-color: #0C0;
    color: white;

}
#div2 .show .buy{
	border:1px solid #2AA5F8;
	color:#2AA5F8;
	font-weight:bold;
	height:30px;

}

.banner{
	width:100%;
	height:100px;
	position:relative;	
}
.banner li{
	margin:0;
	padding:0;
	list-style-type:none;
}
.banList{
	position:absolute;
	left:0px;
	margin-left:0px;
	margin-top:0px;
	height:100px;
}
.banList li{
	width:100%;
	height:100px;
	opacity:0;
	position:absolute;
	transform:scale(0);
	transition:transform 0.5s ease 0s, opacity 1.5s ease 0s;
	z-index:1;
}
.banList img{
 	width:350px;
 	height:100px;
	y-overflow:hidden;
}
.banList li.active{
	opacity:1;
	transform:scale(1);
	z-index:2;
}
.fomW{
	position:absolute;
	bottom:0px;
	left:78%;
	top:78%;
	height:5px;
	z-index:9;
}
.jsNav{
	text-align:center;
}
.jsNav a{
	display:inline-block;
	background:#fff;
	width:5px;
	height:5px;
	border-radius:50%;
	margin:2px;
}
.jsNav a.current{background:#fc8f0f;cursor:pointer}
</style>
<ion-view view-title="芒果学车●教练">
	<ion-content direction="y" class="service-content">
				<nav class="nav">
					<h2 style="text-align:center;background: #ffe33e">教练列表</h2>		
				</nav>		    	 	
				<div>  
					<span>  深圳教练区域选择：</span>
						<select ng-model="selectedSite" ng-options="siteId for siteId in siteDist" 
														ng-change="selectSite(selectedSite)">
														<option value="">--请选择--</option>
						</select>						
				</div> 	
				<ul class="class_title">
					<li class="{{title1}}"><a id="navon1" ng-click="switchNav('navon1')">C1手动档</a></li>
					<li class="{{title2}}"><a id="navon2" ng-click="switchNav('navon2')">C2自动档</a></li>
					<div class="clear"></div>
				</ul>
				<div id="class_show">
					<div id="div1" ng-show="div1" ng-repeat="item in divContent1 | orderBy:id">
						<ul class='show'  ng-click='showCoachDetail({{item.id}})'>
							<li class='show_img'><img ng-src="../../img/course/coach_default.png" ng-click='showCoachDetail({{item.id}})'></li>
							<li>
								<table>
									<tr>										
										<th class='table_title'>
											<a ng-click="showCoachDetail({{item.id}})"style="text-decoration:none;color:black">{{item.name}}</a>
										</th>										
									</tr>
									<tr>
										<td class='teach_font'><a ng-click='showCoachDetail({{item.id}})' style="text-decoration:none;color:black">类型:{{item.desc}}</a></td>
										<td class='teach_font'><a ng-click='showCoachDetail({{item.id}})' style="text-decoration:none;color:black">教龄:{{item.techage}}年</a></td>
										<td >
											<a class="buy" ng-click='toTimeSelect({{item.id}},$event)'>预约</a>
										</td>										
									</tr>	
									<tr>										
										<td class='teach_font'><a ng-click='showCoachDetail({{item.id}})' style="text-decoration:none;color:black">评分:5星</a></td>																
									<tr>									
								</table>
							</li>
						</ul>
					</div>
					
					<div id="div2" ng-show="div2" ng-repeat="item in divContent2 | orderBy:id">
						<ul class='show'  ng-click='showCoachDetail({{item.id}})'>
							<li class='show_img'><img ng-src="../../img/course/coach_default.png" ></li>
							<li>
								<table>
									<tr>										
										<th class='table_title'>
											<a ng-click="showCoachDetail({{item.id}})"style="text-decoration:none;color:black">{{item.name}}</a>
										</th>										
									</tr>
									
									<tr>
										<td class='teach_font'><a ng-click='showCoachDetail({{item.id}})' style="text-decoration:none;color:black">类型:{{item.desc}}</a></td>
										<td class='teach_font'><a ng-click='showCoachDetail({{item.id}})' style="text-decoration:none;color:black">教龄:{{item.techage}}年</a></td>
										<td >
											<a class="buy" ng-click='toTimeSelect({{item.id}},$event)'>预约</a>
										</td>										
									</tr>	
									<tr>										
										<td class='teach_font'><a ng-click='showCoachDetail({{item.id}})' style="text-decoration:none;color:black">评分:5星</a></td>																
									<tr>	
								</table>
							</li>
						</ul>
					</div>
				</div>
	</ion-content>	
</ion-view>
