<style type="text/css" rel="stylesheet">
body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.title_div{
	width:100%;
	height:80px;
	margin-bottom:10px;
/* 	border:1px solid red; */
}

.title_div li{
	list-style-type:none;
/* 	border:1px solid red; */
}
.title_div li.title0{
	margin: 0px 0px 10px 10px;
    height: 20px;
    font-size: 1.0em;
    color: red;
}
.title_div li.title1{
	margin:0px 0px 10px 10px;
	height:20px;
	font-size:2.8em;
	color:red;
}
.course_tip{
	margin-left:3%;
}
.course_tip img{
	width:13px;
	height:13px;
	color:red;
}
.title_div li.title{
	height:40px;
	margin:15px 0px 0px 0px;
/* 	border:1px solid red; */
}
.title_div li.title img{
	width:100%;
	height:40px;
	overflow:hidden;
}
.class_div{
	width:100%;
	margin:0px;
}
.class_title{
	width:100%;
	height:30px;
	list-style-type:none;
	margin-left:0px;
	margin-top:10px;
/* 	border:1px solid red; */
}
.class_title li{
	float:left;
	height:30px;
	width:50%;
	text-align:center;
}

.class_title li a{
	display:block;
	margin:0px;
	cursor:pointer;
	text-decoration:none;
}
.title1 a{
	height:30px;
	border-right:2px solid #DDDDDD;
}		
.change1{
	border-bottom:2px solid green;
	color:green;
}
.change2{
	border-bottom:2px solid #DDDDDD;
}
.change1 a{
	color:green;
}
.change2 a{
	color:rgb(60,60,60);
}
 
.title2 a{
	margin:10px 5px 10px 10px;
}
.clear{clear:both;}

#class_show{
	width:100%;
	height:auto;
	margin-top:3%;
}
#class_show li{
	list-style-type:none;
}
.show{
	width:100%;
	height:110px;
	clear:both;
	color:#AAAAAA;
	margin-top:5px;
}
.show li{
	float:left;
	width:71%;
}
.show .show_img{
	width:80px;
	height:100px;
	margin-left:10px;
/* 	border:1px solid red; */
}
.show img{
	width:80px;
	height:100px;
}

.show table{
	width:95%;
	height:100px;
	margin-left:5px;
	border-bottom:2px solid #DDDDDD;
/* 	border:1px solid red; */
}
.show table td{
	height:auto;
}
.table_title{
	vertical-align: bottom;
	color:rgb(60,60,60);
	font-weight:bolder;
}
.table_title span{
	color:red;
}
.table_title span.title_count{
/* 	font-size:1.4em; */
}
.table_teach{
	vertical-align: top;
	color:#999999;
	font-size:0.8em;
}
.table_teach a{
	text-decoration:none;
	color:green;
}
.teach_font{
	font-size:0.8em;
}

#div1 .show .buy {
    border: 1px solid green;  
    font-weight: bold;

}
.show .buy {
    display: block;
    width: 35px;
    text-align: center;
    background-color: #0C0;
    color: white;

}
#div2 .show .buy{
	border:1px solid #2AA5F8;
	color:#2AA5F8;
	font-weight:bold;
/* 	font-size:2.4em; */
}

.banner{
	width:100%;
/* 	x-overflow:hidden; */
	height:160px;
	position:relative;
/* 	border:1px solid red; */
}
.banner li{
	margin:0;
	padding:0;
	list-style-type:none;
}
.banList{
	position:absolute;
	left:0px;
	margin-left:0px;
	margin-top:0px;
	height:100px;
/* 	border:1px solid red; */
}
.banList li{
	width:100%;
	height:100px;
	opacity:0;
	position:absolute;
	transform:scale(0);
	transition:transform 0.5s ease 0s, opacity 1.5s ease 0s;
	z-index:1;
}
.banList img{
 	width:350px;
 	height:100px;
	y-overflow:hidden;
}
.banList li.active{
	opacity:1;
	transform:scale(1);
	z-index:2;
}
.fomW{
	position:absolute;
	bottom:0px;
	left:78%;
	top:78%;
	height:5px;
	z-index:9;
/* 	border:1px solid red; */
}
.jsNav{
	text-align:center;
}
.jsNav a{
	display:inline-block;
	background:#fff;
	width:5px;
	height:5px;
	border-radius:50%;
	margin:2px;
}
.jsNav a.current{background:#fc8f0f;cursor:pointer}

.service-content .empty-bar{
	width:100%;
}
.service-content .empty-bar-top{
	height:10px;
}
.service-content .empty-bar-middle{
	height:10px;
}
.service-content .service-item-icon-font{
	font-size:40px;
}
.service-content .services-row .shortcut{
	position: relative;
}
.service-content .shortcut .icon-select{
	position: absolute;
	right: 25px;
	top: -5px;
}
	/*按钮固定底部*/
.service-content .fix-bottom{
	position: relative;
	bottom: -10px;
}
</style>
<ion-view view-title="芒果学车●报名">
  	<ion-content class="service-content">	
	    <div class="banner">
			  <ion-slide-box active-slide="myActiveSlide" does-continue="true" auto-play="true"slide-interval="2000">
				<ion-slide>
				  <img src="../../img/course/adv_01.jpg" style="width:100%; height:160px">
				</ion-slide>
				<ion-slide>
				  <img src="../../img/course/adv_02.jpg" style="width:100%; height:160px">
				</ion-slide>
				<ion-slide>
				  <img src="../../img/course/adv_03.jpg" style="width:100%; height:160px">
				</ion-slide>				
			  </ion-slide-box>
		</div>
		
       	<div class="row services-row">
			<div class="col shortcut shortcut-normal">
				<a href="http://{{defaultURL}}process.htm" style="text-decoration:none" >
					<div class="icon iconfont icon-washing service-item-icon-font" style="color:#f09ff9"></div>
					<p  style="color:#000">学车流程</p>
				</a>
			</div>
			
      		<div class="col shortcut shortcut-normal">
				<a href="http://{{defaultURL}}service_site.htm" style="text-decoration:none" >
					<div class="icon iconfont icon-washing service-item-icon-font" style="color:#fd9f19"></div>
					<p style="color:#000">线下报名点</p>
				</a>
			</div>
			
			<div class="col shortcut shortcut-normal">	
				<a style="text-decoration:none" ng-click="click_store()">
					<div class="icon iconfont icon-repair service-item-icon-font" style="color:#fe7c26"></div>					 
					<p style="color:#000">训练场</p>
				</a>
			</div>			
		</div>
		
		<!-- 两行之间增加空白div撑开 -->
		<div class="empty-bar empty-bar-middle"></div>		
		
		<div class="row services-row">
			<div class="col shortcut shortcut-normal">
				<a href="http://{{defaultURL}}help.htm" style="text-decoration:none" >
					<div class="icon iconfont icon-washing service-item-icon-font" style="color:#f09ff9"></div>
					<p style="color:#000">帮助问答</p>
				</a>				
			</div>					
      		
			
			<div class="col shortcut shortcut-normal">
				<a href="http://{{defaultURL}}guarantee.htm" style="text-decoration:none" >
					<div class="icon iconfont icon-washing service-item-icon-font" style="color:#fd9f19"></div>
					<p style="color:#000">服务保障</p>
				</a>				
			</div>
			
			<div class="col shortcut shortcut-normal">
				<a href="http://{{defaultURL}}about.htm" style="text-decoration:none" >
					<div class="icon iconfont icon-repair service-item-icon-font" style="color:#fe7c26"></div>
					<p style="color:#000">关于芒果</p>
				</a>
			</div>
			
		</div>		
       	<div class="v-spacer"></div>       	
       	<!-- 技能页 -->
       	<div class="list1">       	 
        	<div class="item item-clickable">
        		<div class="icon iconfont icon-mytech icon-left" style="color:#fd9f19" ng-click="click_service()"></div>
				<div class="lefttext" ng-click="click_service()">我要报名</div>  				
        		<div class="icon iconfont icon-selectstore icon-right"style="color:#fd9f19"></div>
       			<a class="righttext" style="text-decoration:none" href="tel:4008935866">学车咨询</a>			
        	</div>
		</div>	
		<div class="list">    	
       		<div class="v-spacer"></div>             
        	<div class="item item-clickable">
        		<div class="icon iconfont icon-selectservice icon-left" style="color:#fd9f19"></div>
        		<div class="text">优秀教练展示</div>
        	</div>
		</div>		
		<div  ng-show="true" ng-repeat="item in coachlist| orderBy:score">
			<ul class='show' ng-click="showCoachDetail({{item.id}})">
				<li class='show_img'><img ng-src="../../img/course/coach_default.png" ng-click='showCoachDetail({{item.id}})'></li>
				<li>
					<table>
						<tr>
							<th class='table_title'>
								<a ng-click="showCoachDetail({{item.id}})" style="text-decoration:none;color:black">{{item.name}}</a>
							</th>																	
						</tr>
						<tr>
							<td class='teach_font'><a ng-click='showCoachDetail({{item.id}})' style="text-decoration:none;color:black">类型:{{item.desc}}  </a></td>
							<td class='teach_font'><a ng-click='showCoachDetail({{item.id}})' style="text-decoration:none;color:black">教龄:{{item.techage}}年</a></td>
							<td class='teach_font'><a ng-click='showCoachDetail({{item.id}})' style="text-decoration:none;color:black">评分:5星</a></td>	
						</tr>
					</table>
				</li>
			</ul>
		</div>
	    <div class="padding padding-normal">
			<button class="button button-submit" style="color:black;background:white" ng-click="click_ShowAllCoach()">查看更多</button>
		</div>				
	</div>		
	</ion-content>
</ion-view>