<link rel="stylesheet" href="/css/home/staticPage.css">
<style type="text/css">
.serviceStore-content .list .store-info img{
	width:100%;
	height:100%;
}
.serviceStore-content .list .item.store-info .store-desc .locate-style{
	padding-left:10px;
	font-size:16.5px;
	line-height:16.5px;
}
.serviceStore-content .list .item.store-info .store-desc .address .addr-title{
	padding:0;
}
.serviceStore-content .list .item.store-info .store-desc .address .detail-addr{
	padding:0;
	margin-left:-5px;
}
</style>

<ion-view view-title="芒果学车●训练点">
	<ion-content class="serviceStore-content">	
			<nav class="nav">
					<h2 style="text-align:center;background: #ffe33e">门店列表</h2>	
					<a ng-click="goHomePage()"></a>	
			</nav>	
			<div>  
					<span>  深圳训练场区域选择：</span>
						<select ng-model="selectedSite" ng-options="siteId for siteId in siteDist" 
														ng-change="selectSite(selectedSite)">
														<option value="">--请选择--</option>
						</select>
						
			</div> 				
   	  	 	<div class="list" ng-repeat="item in storeList">
   	  	 		<div class="item store-info" >
   	  	 			<div class="store-pic"><img src="/img/store_sz.jpg"></div>
   	  	 			<div class="store-desc">
   	  	 			
   	  	 				<p style="z-index:99">
                        <span class="name">       
                           <a ng-click="toLocation(item.id)" style="text-decoration:none;color:black">{{item.name}}</a>
                        </span>
                        <span class="icon iconfont icon-locate yellow locate-style"></span>
                     </p>
   	  	 				<div class="row address"><div class="col col-20 addr-title">地址：</div>
                     <div class="col detail-addr">{{item.fullAddress}}</div>
                  </div>
   	  	 				<p class="phone">电话：{{item.phone}}</p>
   	  	 			</div>
   	  	 		</div>
   	  	 		
   	  	 		<div ng-if="!$last" class="v-spacer"></div>

   	  	 	</div>
	</ion-content>
</ion-view>