  	<style type="text/css">
  		body {
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
			font: normal 100% Helvetica, Arial, sans-serif; 
			font-size: 1.2em;
			background-color:#eee;
			color:#ccc;
		}
		div{
			background-color:#FFF;
		}
		table {
			width: 99%;
			height: 100%;
			margin-right: 1px;
			margin-left: 1px;
		}
		#payDiv{
			width:100%;
			height:130px;
		}
		#payDiv td{
			text-align:center;
		}
		.priceName{
			color:#000;
			font-size:1.3em;
		}		
		.priceOne{
			color:#F00;
			font-size:1.4em;
		}
		.payTime{
			font-size:0.8em;
		}
		.payTime img{
			width:13px;
			height:13px;
			overflow:hidden;
		}
		.payMoney1{
			background-color:#0C0;
			color:white;
			height:33px;
			line-height:33px;
		}
		.payMoney2{
			background-color:#DDDDDD;
			color:white;
			height:33px;
			line-height:33px;
		}
		
		.payTip{
			color:#0C0;
			font-size:0.8em;
		}
		.processTip{
			color:#C00;
			font-size:0.8em;
			clear:both;
		}		
		#priceDiv{
			width:95%;
			height:70px;
			margin:10px auto;
		}
		#priceDiv table{
			color:#666666;
 			font-size:16px;
		}
		.price_total{
			padding-left:15px;
		}
		.price_value{
			padding-right:15px;
			text-align:right;
		}
		.actual{
			font-size:1.6em;
		}
		
		
		#infoDiv{
			width:100%;
			height:80px;
		}
		#infoDiv table{			
			color:#666666;
 			font-size:16px;			
		}
		.info{
			padding-left:5px;
			width:20%;
		}
		.info_value{
			padding-right:5px;
			text-align:left;
			width:30%;
		}
		.payOk1{
			text-align:center;
			background-color:#0C0;
			color:white;
			height:10%;	
			width:30%;
		}
		.payOk2{
			text-align:center;
			background-color:gray;
			color:white;
			height:10%;			
			width:30%;
		}		
  	</style>
 <ion-view view-title="芒果学车●支付">
  	<ion-content class="service-content">  
	<div id="payDiv">
    	<table>
			<tr>				
				<td class="priceName" >{{className}}</td>	
			</tr>	
        	<tr>				
            	<td class="priceOne" id="priceOne">{{priceOne}}</td>
            </tr>																												 					
            <tr>
            	<td class="payTip">请学员仔细核对信息，支付后不支持退款。</td>				
            </tr>
        </table>
    </div>
    <div id="priceDiv">
    	<table>
        	<tr>
            	<td class="price_total">总价：</td>
                <td class="price_value" id="totalPrice">{{totalPrice}}</td>
            </tr>
			<tr>
				<td colspan=2><hr/></td>
			</tr>
            <tr>
            	<td class="price_total">应付金额：</td>
                <td class="price_value actual" id="actualPrice">{{actualPrice}}</td>
            </tr>
        </table>
    </div>

    <div id="infoDiv">    	
		<table>
        	<tr>
            	<td class="info">手机:</td>
                <td class="info_value" >{{contactPhone}}</td>
				<td class="payOk1" ng-click="toMy();">修改</td>
            </tr>
            <tr >            	
				<td class="payOk2">   </td>
				<td class="payOk1" ng-click="toPay();">付款</td>
				<td class="payOk2">   </td>
            </tr>     			
        </table>
    </div>	
	<div class="processTip">  支付过程有疑问，请联系客服电话4008935866！ </div>	
	<div class="processTip">  提示：报名支付，请确认业务名称、手机信息和价格正确！</div>		
	
	
	</ion-content>
</ion-view>
